{% extends 'base.html.twig' %}

{% block title %}Galerie Photo{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <img class="" src= /symfony/public/images/bienvenue.jpg alt="">
    </div>
</div>
{% endblock %}
